#grid {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 900px;
}

.row {
display: flex;
flex-direction: row;
flex: auto;
}

.cell {
border: 1px solid black;
flex: auto;
/* transition: background-color 0.2s ease-in-out; */
}

.cell:hover {
    background-color: black;
    /* transition: background-color 0.2s ease-in-out; */
}