#grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 900px;
    height: 900px;
}

.row {
display: flex;
flex-direction: row;
}

.cell {
border: 1px solid black;
width: 100px;
height: 100px;
}