body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    font-weight: bold;
}

#main {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    top: 50%;
    left: 50%;
    margin-top: -480px;
    margin-left: -480px;
}

#grid {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
}

.row {
display: flex;
flex-direction: row;
flex: auto;
}

.cell {
border: 1px solid black;
flex: auto;
transition: background-color 0.1s ease-in-out;
}

.cell:hover {
    background-color: black;
    transition: background-color 0.1s ease-in-out;
}